@import 'utilities.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    textarea:focus, 
    input:focus {
        outline: none;
    }
}

//variables
$light-color: rgba(204, 191, 191, 0.884);

.hide {
    display: none;
}

//main

body {
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $light-color;
    font-family: Poppins;
}

.window-container {

    .search-bar {
        display: flex;
        padding: 1rem;
        margin: 1rem;
        justify-content: space-around;
        
        .input-text {
            padding: 1rem;
            height: 3.5rem;
            width: 30rem;
            font-size: 2.5rem;
            color: $light-color;
            background-color: rgba(64, 64, 88, 0.603);
            border-radius: 2rem;

            &:focus {
                border: none;
            }
            
        }

        .main-btn {
            height: 3rem;
            width: 9rem;
            border-radius: .8rem;
            font-size: 2rem;
            background-color: rgba(238, 57, 12, 0.781);
            color: $light-color;
            cursor: pointer;
            border: none;
        }
    }
    
    .data-container {

        padding: 1rem;

        h1 {
            font-size: 8rem;
            text-align: center;
        }

        h2 {
            font-size: 3rem;
        }

        .five-day-btn {
            height: 5rem;
            width: 30rem;
            padding: 1rem;
            border-radius: .8rem;
            font-size: 1.7rem;
            background-color: rgba(238, 57, 12, 0.781);
            color: $light-color;
            cursor: pointer;
            border: none;
            position: relative;
            left: 6rem;
            top: 3rem;
        }
    }
}

.five-day-container {

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }
    
    .day-one {
        height: 10rem;
        border: .3rem rgba(0, 0, 0, 0.432) solid;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;

        .data-holder {
            display: flex;
            margin: 1rem;
            font-size: 4rem;
            justify-content: space-around;
        }
    }
    
    .day-two {
        height: 10rem;
        border: .3rem rgba(0, 0, 0, 0.432) solid;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;

        .data-holder {
            display: flex;
            margin: 1rem;
            font-size: 4rem;
            justify-content: space-around;
        }
    }

    .day-three {
        height: 10rem;
        border: .3rem rgba(0, 0, 0, 0.432) solid;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;

        .data-holder {
            display: flex;
            margin: 1rem;
            font-size: 4rem;
            justify-content: space-around;
        }
    }

    .day-four {
        height: 10rem;
        border: .3rem rgba(0, 0, 0, 0.432) solid;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;

        .data-holder {
            display: flex;
            margin: 1rem;
            font-size: 4rem;
            justify-content: space-around;
        }
    }

    .day-five {
        height: 10rem;
        border: .3rem rgba(0, 0, 0, 0.432) solid;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;

        .data-holder {
            display: flex;
            margin: 1rem;
            font-size: 4rem;
            justify-content: space-around;
        }
    }
}



